footer {
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: #fff;
  padding: 5px 0 5px 0px;
  margin: 20px 0 0 0;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.2);
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.2);
}

ul.footer li {
  display: inline;
  list-style-type: none;
  margin: 2px;
}

ul.footer li a {
  font-style: italic;
}

#social-links {
  display: -webkit-box;
}

#login {
  margin-top: 150px;
}
/*#email, #password{
    width:50%;
}*/
.navbar {
  margin-bottom: 0px;
}

.available-link {
  cursor: pointer;
  color: white;
}
