<footer id="library-footer" class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <a target="_blank" href="https://en.wikipedia.org/wiki/Library">
        <img class="img-responsive" src="../resources/library.png" />
      </a>
      <p class="col-sm-12">
        <span>Copyright © 2019</span>
      </p>
    </div>

    <div id="social-links" class="col-sm-4">
      <b>Connect</b>
      <ul class="footer">
        <li><a href="https://twitter.com/" title=""><span class="fa fa-twitter"></span></a></li>
        <li>|</li>
        <li><a href="https://www.linkedin.com/" title=""><span class="fa fa-linkedin"></span></a></li>
        <li>|</li>
        <li><a href="https://www.facebook.com/" title=""><span class="fa fa-facebook"></span></a></li>
      </ul>
    </div>
  </div>
</footer>
