<div class="row dashboard-view col-md-10 col-md-offset-1">
  <input type="text" placeholder="Find Book here" class="input-lg form-control" name="searchString" [(ngModel)]="searchString" />
  <br />
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Category</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Status</th>
      </tr>
    </thead>
    <tr *ngFor="let a of books | filter : {'title' : searchString, 'categoryName' : searchString}; let i = index">
      <td class="text-cell">
        {{a.isbn}}
      </td>
      <td class="text-cell">
        {{a.title}}
      </td>
      <td class="text-cell">
        {{a.categoryName}}
      </td>
      <td class="text-cell">
        {{a.author}}
      </td>
      <td class="text-cell">
        {{a.pages}}
      </td>
      <td class="text-cell">
        <div *ngIf="a.count>0;else other_content" style="color:green">
          Available ({{a.count}})
        </div>
        <ng-template #other_content><div style="color:red">Not Available</div></ng-template>
      </td>
    </tr>
  </table>
</div>
