<div class="card">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <button class="btn btn-primary" (click)='modalService.open(addcontent)' style="float: right">Add New Book</button>
            <div style="overflow: hidden; padding-right: .5em;">
                <input type="text" placeholder="Find Book here" class="input-lg form-control" name="searchString" [(ngModel)]="searchString" />
            </div>
            <br />
            <br />
            <div class="allow-horizontal scrolling">
                <table class="table table-hover table-striped dataTable no-footer">
                    <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Title</th>
                            <th>Rating</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Pages</th>
                            <th>Published Year</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let a of books | filter : 'title' : searchString; let i = index">
                        <td>
                            {{a.isbn}}
                        </td>
                        <td>
                            {{a.title}}
                        </td>
                        <td>
                            {{a.ratings}}
                        </td>
                        <td>
                            <div *ngFor="let item of a.author">
                                {{item}}
                            </div>
                        </td>
                        <td>
                            {{a.categoryName}}
                        </td>
                        <td>
                            {{a.pages}}
                        </td>
                        <td>
                            {{a.yearOfPublish}}
                        </td>
                        <td>
                            {{a.quantity}}
                        </td>
                        <td>
                            <div class="actions">
                                <span class="glyphicon glyphicon-edit" (click)='openmodal(updatecontent,a)'></span>&nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-floppy-remove" (click)='openmodal(deletecontent,a)'></span> &nbsp;&nbsp;&nbsp;
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #deletecontent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div style="overflow: hidden; padding-right: .5em;">
            <h4 class="modal-title">Delete Book</h4>
        </div>
    </div>
    <div class="modal-body">
        <form #deletebook="ngForm" class="form-inline" (ngSubmit)="deletebook(deletebook)">
            <h3>Do You Wants to Delete {{book.title}}  ? </h3>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="isRequesting">Delete</button>
                <app-spinner [isRunning]="isRequesting"></app-spinner>
            </div>
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
            <div *ngIf="errors" class="alert alert-danger" role="alert">
                <strong>Oops!</strong> {{errors}}
            </div>
            <div *ngIf="saveSuccess" class="alert alert-success" role="alert">
                <strong>Book deleted...</strong>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<ng-template #addcontent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div style="overflow: hidden; padding-right: .5em;">
            <h4 class="modal-title">Add New Member</h4>
        </div>
    </div>
    <div class="modal-body">
        <form #addbook="ngForm" class="form-horizontal" novalidate (ngSubmit)="addBook(addbook)">
            <div class="form-group">
                <label class="control-label col-sm-4" for="isbn">ISBN Number</label>
                <div class="col-sm-8">
                    <input id="isbn" type="text" required name="isbn" class="form-control" placeholder="Enter Book ISBN Number" tmFocus ngModel>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="title">Book Title</label>
                <div class="col-sm-8">
                    <input id="title" type="text" required name="title" class="form-control" placeholder="Book Title " ngModel>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="Author">Author</label>
                <div class="col-sm-8">
                    <ng-select [items]="authorList" bindLabel="author" [addTag]="enterAuthor" [multiple]="true"
                               placeholder="Select Author or enter"
                               name="authors" ngModel>
                    </ng-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="Category">Category</label>
                <div class="col-sm-8">
                    <ng-select [items]="categoryList" bindLabel="categoryName" bindValue="categoryId" [addTag]="enterCategory" [multiple]="false"
                               placeholder="Select Category or enter"
                               name="categoryId" ngModel>
                    </ng-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="ratings">Ratings</label>
                <div class="col-sm-8">
                    <input id="ratings" type="text" required name="ratings" class="form-control" placeholder="Enter Ratings of book" ngModel>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="pages">Pages</label>
                <div class="col-sm-8">
                    <input id="pages" type="text" required name="pages" class="form-control" placeholder="Enter Pages of Book" ngModel>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="quantity">Quantity</label>
                <div class="col-sm-8">
                    <input id="quantity" type="text" required name="quantity" class="form-control" placeholder="Confirm Password" ngModel>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="yearofpublish">Year Of Publish</label>
                <div class="col-sm-8">
                    <select id="yearofpublish" #yearofpublish="ngModel" class="form-control" [(ngModel)]="yy" name="yearofpublish" ngModel>
                        <option *ngFor="let y of years" [selected]="yy === y ">{{y}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" data-dismiss="modal" class="btn btn-primary" [disabled]="addbook.invalid || isRequesting">Submit</button>
                    <app-spinner [isRunning]="isRequesting"></app-spinner>
                </div>
            </div>
            <div *ngIf="errors" class="alert alert-danger" role="alert">
                <strong>Oops!</strong> {{errors}}
            </div>
            <div *ngIf="saveSuccess" class="alert alert-success" role="alert">
                <strong>Book Succesfullly saved...</strong>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<ng-template #updatecontent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div style="overflow: hidden; padding-right: .5em;">
            <h4 class="modal-title">Update Book</h4>
        </div>
    </div>
    <div class="modal-body">
        <form #updatebook="ngForm" class="form-horizontal" novalidate (ngSubmit)="updateBook(updatebook)">
            <div class="form-group">
                <label class="control-label col-sm-4" for="isbn">ISBN Number</label>
                <div class="col-sm-8">
                    <input id="isbn" type="text" required name="isbn" class="form-control" ngModel="{{book.isbn}}" tmFocus disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="title">Book Title</label>
                <div class="col-sm-8">
                    <input id="title" type="text" required name="title" class="form-control" ngModel="{{book.title}}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="Author">Author</label>
                <div class="col-sm-8">
                    <ng-select [items]="authorList" bindLabel="author" [addTag]="enterAuthor" [multiple]="false"
                               [(ngModel)]="book.author"
                               placeholder="{{book.author}}"
                               name="authorId" ngModel>
                    </ng-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="Category">Category</label>
                <div class="col-sm-8">
                    <ng-select [items]="categoryList"
                               bindLabel="categoryName"
                               bindValue="categoryId"
                               [addTag]="enterCategory"
                               [multiple]="false"
                               [(ngModel)]="book.categoryName"
                               placeholder="{{book.categoryName}}"
                               name="categoryId" ngModel>
                    </ng-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="ratings">Ratings</label>
                <div class="col-sm-8">
                    <input id="ratings" type="text" required name="ratings" class="form-control" ngModel="{{book.ratings}}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="pages">Pages</label>
                <div class="col-sm-8">
                    <input id="pages" type="text" required name="pages" class="form-control" ngModel="{{book.pages}}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="quantity">Quantity</label>
                <div class="col-sm-8">
                    <input id="quantity" type="text" required name="quantity" class="form-control" ngModel="{{book.quantity}}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="yearofpublish">Year Of Publish</label>
                <div class="col-sm-8">
                    <select id="yearofpublish" #yearofpublish="ngModel" class="form-control" [(ngModel)]="book.yearOfPublish" name="yearofpublish" ngModel>
                        <option *ngFor="let y of years" [selected]="yy === y">{{y}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-primary" [disabled]="isRequesting">Update Book</button>
                    <app-spinner [isRunning]="isRequesting"></app-spinner>
                </div>
            </div>
            <div *ngIf="errors" class="alert alert-danger" role="alert">
                <strong>Oops!</strong> {{errors}}
            </div>
            <div *ngIf="saveSuccess" class="alert alert-success" role="alert">
                <strong>Book Succesfullly updated...</strong>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>
