<footer id="nof1-footer" class="container-fluid">
            <div class="col-sm-6">
                <a target="_blank" href="https://www.touchcoresystems.com/">
                    <img src="../resources//touchcore.png" />
                </a>
                <p class="col-sm-12 copyright">
                    <span>Copyright ©2018 Touchcore Systems Pvt. Ltd.</span>
                </p>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="lh"><b>Connect</b></p>
                        <ul id="social-links" class="dt">
                            <li>
                                <a href="https://twitter.com/" class="pull-left" target="_blank"><span class="fa fa-twitter"></span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/touchcore-systems-private-limited/" class="pull-left" target="_blank"><span class="fa fa-linkedin"></span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" class="pull-left" target="_blank"><span class="fa fa-facebook"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
</footer>