<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    
    <a class="navbar-brand" href="#">Touchcore Library</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul *ngIf="status" class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" (click)="logout()" href="#">Logout</a>
            </li>
        </ul>

        <ul *ngIf="!status" class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/register">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>