<div class="dashboard-view col-md-10 col-md-offset-1">
  <button class="btn btn-primary add-btn" (click)='openmodal(addcontent)'>Add New Employee</button>
  <div class="input-area">
    <input type="text" placeholder="Find Employee here" class="input-lg form-control" name="searchString" [(ngModel)]="searchString" />
  </div>
  <br />
  <br />
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Emp ID</th>
        <th>Name </th>
        <th>Date of joining</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Addresss</th>
        <th>City</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tr *ngFor="let member of members | filter : {'firstName' : searchString, 'lastName' : searchString}; let i = index">
      <td class="text-cell">
        {{member.memberId}}
      </td>
      <td class="text-cell">
        {{member.firstName}} {{member.lastName}}
      </td>
      <td class="text-cell">
        {{member.joiningDate | date: "dd-MMM-yyyy" }}
      </td>
      <td class="text-cell">
        {{member.emailAddress}}
      </td>
      <td class="text-cell">
        {{member.mobileNo}}
      </td>
      <td class="text-cell">
        {{member.addressLine}}
      </td>
      <td class="text-cell">
        {{member.cityName}}
      </td>
      <td class="action-cell">
        <span class="glyphicon glyphicon-edit" (click)='openmodal(updatecontent,member)' title="Edit Employee"></span>
        <span class="glyphicon glyphicon-trash" style="padding-left:1em" (click)='openmodal(deletecontent,member)' title="Delete Employee"></span>
      </td>
    </tr>
  </table>
</div>


<ng-template #addcontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div style="overflow: hidden; padding-right: .5em;">
      <h4 class="modal-title">Add New Employee</h4>
    </div>
  </div>
  <div class="modal-body">
    <form #addmember="ngForm" class="form-horizontal" novalidate (ngSubmit)="addMember(addmember)">
      <div class="form-group required">
        <label class="control-label col-sm-4" for="firstName">First Name</label>
        <div class="col-sm-8">
          <input id="firstName" type="text" required name="firstName" class="form-control" placeholder="Enter First Name" ngModel>
        </div>
      </div>

      <div class="form-group required">
        <label class="control-label col-sm-4" for="lastName">Last Name</label>
        <div class="col-sm-8">
          <input id="lastName" type="text" required name="lastName" class="form-control" placeholder="Enter Last Name" ngModel>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="joiningDate">Date of Joining</label>
        <div class="col-sm-8">
          <input id="joiningDate" type="date" name="joiningDate" class="form-control" [(ngModel)]="today" max="{{today}}" ngModel>
        </div>
      </div>

      <div class="form-group required">
        <label class="control-label col-sm-4" for="emailAddress">Email</label>
        <div class="col-sm-8">
          <input id="emailAddress" type="text" required name="emailAddress" validateEmail class="form-control" placeholder="Email Address" ngModel #emailAddress="ngModel">
          <small [hidden]="emailAddress.valid || (emailAddress.pristine && !submitted)" class="text-danger">Please enter member valid email</small>
        </div>
      </div>

      <div class="form-group required">
        <label class="control-label col-sm-4" for="mobileNo">Mobile Number</label>
        <div class="col-sm-8">
          <input id="mobileNo" type="text" required name="mobileNo" class="form-control" placeholder="Enter Mobile Number" ngModel maxlength="10">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="addressLine">Residential Address</label>
        <div class="col-sm-8">
          <input id="addressLine" type="text" name="addressLine" class="form-control" placeholder="Enter Members Address" ngModel>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="cityName">City</label>
        <div class="col-sm-8">
          <input id="cityName" type="text" name="cityName" class="form-control" placeholder="Enter City" ngModel>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="stateName">State</label>
        <div class="col-sm-8">
          <input id="stateName" type="text" name="stateName" class="form-control" placeholder="Enter State Name" ngModel>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-primary" [disabled]="addmember.invalid">Submit</button>
        </div>
      </div>
      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{errors}}
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deletecontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div style="overflow: hidden; padding-right: .5em;">
      <h4 class="modal-title">Delete Employee</h4>
    </div>
  </div>
  <div class="modal-body">
    <form #deletemember="ngForm" class="form-inline" (ngSubmit)="deleteMember(deletemember)">
      <h3>Do You Wants to Delete {{member.firstName}} {{member.lastName}} ? </h3>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="isRequesting">Delete</button>
        <app-spinner [isRunning]="isRequesting"></app-spinner>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{errors}}
      </div>
    </form>
  </div>
</ng-template>

<ng-template #updatecontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div style="overflow: hidden; padding-right: .5em;">
      <h4 class="modal-title">Update Employee</h4>
    </div>
  </div>
  <div class="modal-body">
    <form #updatemember="ngForm" class="form-horizontal" novalidate (ngSubmit)="updateMember(updatemember)">
      <div class="form-group required">
        <label class="control-label col-sm-4" for="firstName">First Name</label>
        <div class="col-sm-8">
          <input id="firstName" required type="text" name="firstName" class="form-control" ngModel="{{member.firstName}}">
        </div>
      </div>

      <div class="form-group required">
        <label class="control-label col-sm-4" for="lastName">Last Name</label>
        <div class="col-sm-8">
          <input id="lastName" required type="text" name="lastName" class="form-control" ngModel="{{member.lastName}}">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="joiningDate">Date of Joining</label>
        <div class="col-sm-8">
          <input id="joiningDate" type="date" name="joiningDate" class="form-control" [(ngModel)]="member.joiningDate">
        </div>
      </div>

      <div class="form-group required">
        <label class="control-label col-sm-4" for="emailAddress">Email</label>
        <div class="col-sm-8">
          <input id="emailAddress" type="text" required name="emailAddress" validateEmail class="form-control" ngModel="{{member.emailAddress}}" #emailAddress="ngModel">
          <small [hidden]="emailAddress.valid || (emailAddress.pristine && !submitted)" class="text-danger">Please enter member valid email</small>
        </div>
      </div>

      <div class="form-group required">
        <label class="control-label col-sm-4" for="mobileNo">Mobile Number</label>
        <div class="col-sm-8">
          <input id="mobileNo" required type="text" name="mobileNo" class="form-control" ngModel="{{member.mobileNo}}" maxlength="10">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="addressLine">Residential Address</label>
        <div class="col-sm-8">
          <input id="addressLine" type="text" name="addressLine" class="form-control" ngModel="{{member.addressLine}}">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="cityName">City</label>
        <div class="col-sm-8">
          <input id="cityName" type="text" name="cityName" class="form-control" ngModel="{{member.cityName}}">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="stateName">State</label>
        <div class="col-sm-8">
          <input id="stateName" type="text" name="stateName" class="form-control" ngModel="{{member.stateName}}">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-primary" [disabled]="isRequesting">Update Member</button>
          <app-spinner [isRunning]="isRequesting"></app-spinner>
        </div>
      </div>
      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{errors}}
      </div>
    </form>
  </div>
</ng-template>
