<div class="card">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <input type="text" placeholder="Find Member here" class="input-lg form-control" name="searchString" [(ngModel)]="searchString" />
            <button class="btn btn-primary" (click)='modalService.open(modalId)'>Add Member</button>
            <br />
            <br />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Member ID</th>
                        <th>Date of joining</th>
                        <th>Member Name </th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Addresss</th>
                        <th>city</th>
                        <th>state</th>
                    </tr>
                </thead>
                <tr *ngFor="let a of members | filter : 'firstName' : searchString; let i = index">
                    <td>
                        {{a.memberId}}
                    </td>
                    <td>
                        {{a.joiningDate}}
                    </td>
                    <td>
                        {{a.firstName}}
                        {{a.lastName}}
                    </td>
                    <td>
                        {{a.emailAddress}}
                    </td>
                    <td>
                        {{a.mobileNo}}
                    </td>
                    <td>
                        {{a.addressLine}}
                    </td>
                    <td>
                        {{a.cityName}}
                    </td>
                    <td>
                        {{a.stateName}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<app-modal [modalTitle]="'Add Member'" [blocking]='false' [modalId]='modalId'>
    <div class="card-block">
        <form #addmember="ngForm" novalidate (ngSubmit)="addMember(addmember)">
            <div class="form-group">
                <label for="memberId">Member ID</label>
                <input id="memberId" type="text" required name="memberId" class="form-control" placeholder="Enter Member Number" tmFocus ngModel>
            </div>

            <div class="form-group">
                <label for="joiningDate">Date of Joining</label>
                <input id="joiningDate" type="text" required name="joiningDate" class="form-control" placeholder="Enter Join date for Member" ngModel>
            </div>

            <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstName" type="text" required name="firstName" class="form-control" placeholder="Enter First Name" ngModel>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input id="lastName" type="text" required name="lastName" class="form-control" placeholder="Enter Last Name" ngModel>
            </div>

            <div class="form-group">
                <label for="emailAddress">Email</label>
                <input id="emailAddress" type="text" required name="emailAddress" validateEmail class="form-control" placeholder="Email Address" ngModel #emailAddress="ngModel">
                <small [hidden]="emailAddress.valid || (emailAddress.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
            </div>

            <div class="form-group">
                <label for="mobileNo">Mobile Number</label>
                <input id="mobileNo" type="text" required name="mobileNo" class="form-control" placeholder="Enter Mobile Number" ngModel>
            </div>

            <div class="form-group">
                <label for="addressLine">Residential Address</label>
                <input id="addressLine" type="text" required name="addressLine" class="form-control" placeholder="Enter Members Address" ngModel>
            </div>

            <div class="form-group">
                <label for="cityName">City</label>
                <input id="cityName" type="text" required name="cityName" class="form-control" placeholder="Enter City" ngModel>
            </div>

            <div class="form-group">
                <label for="stateName">State</label>
                <input id="stateName" type="text" required name="stateName" class="form-control" placeholder="Enter State Name" ngModel>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="addmember.invalid || isRequesting">Submit</button>
                <app-spinner [isRunning]="isRequesting"></app-spinner>
            </div>
            <div *ngIf="errors" class="alert alert-danger" role="alert">
                <strong>Oops!</strong> {{errors}}
            </div>
            <div *ngIf="saveSuccess" class="alert alert-success" role="alert">
                <strong>Member succesfullly added...</strong>
            </div>
        </form>
    </div>
</app-modal>