<div class="dashboard-view col-md-10 col-md-offset-1">
  <input type="text" placeholder="Find Book here" class="input-lg form-control" name="searchString" [(ngModel)]="searchString" />
  <br />
  <br />
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Issued Item</th>
        <th>Member Name </th>
        <th>Issue Date</th>
        <th>Issued By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tr *ngFor="let detail of details | filter : 'title' : searchString; let i = index">
      <td class="text-cell">
        {{detail.transactionId}}
      </td>
      <td class="text-cell">
        {{detail.title}}
      </td>
      <td class="text-cell">
        {{detail.memberName}}
      </td>
      <td class="text-cell">
        {{detail.issueDate}}
      </td>
      <td class="text-cell">
        {{detail.adminName}}
      </td>
      <td class="actions" (click)='openmodal(returncontent,detail)'>
        <span>Return</span>
        <span class="glyphicon glyphicon-check"></span>
      </td>
    </tr>
  </table>
</div>


<ng-template #returncontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div style="overflow: hidden; padding-right: .5em;">
      <h4 class="modal-title">Return Book</h4>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #returnbook="ngForm" novalidate (ngSubmit)="returnBook(returnbook)">
      <div class="form-group">
        <label class="control-label col-sm-4" for="memberName">Member Name</label>
        <div class="col-sm-8">
          <input id="memberName" type="text" required name="memberName" class="form-control" ngModel="{{rows.memberName}}" disabled>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="title">Book Name</label>
        <div class="col-sm-8">
          <input id="title" type="text" required name="title" class="form-control" ngModel="{{rows.title}}" disabled>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="issueDate">Issue Date </label>
        <div class="col-sm-8">
          <input id="issueDate" type="text" required name="issueDate" class="form-control" ngModel="{{rows.issueDate}}" disabled>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="returnDate">Return Date </label>
        <div class="col-sm-8">
          <input id="returnDate" required name="returnDate" type="text" class="form-control" [(ngModel)]="today" ngModel disabled>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-primary" [disabled]="returnbook.valid || isRequesting">Return</button>
          <app-spinner [isRunning]="isRequesting"></app-spinner>
        </div>
      </div>
      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{errors}}
      </div>
      <div *ngIf="saveSuccess" class="alert alert-success" role="alert">
        <strong>Book Returned</strong>
      </div>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
