<div class="row">

  <div class="col-md-2" role="navigation" style="border-right:1px solid #cecece">
      <ul class="nav nav-pills nav-stacked">
          <li class="nav-item">
              <a class="nav-link sidebar-menu-button" routerLinkActive="active-sidebar-link" routerLink='/dashboard/transaction'>
                  <i class="fa fa-home" aria-hidden="true"></i> Issue
              </a>
              <a class="nav-link sidebar-menu-button" routerLinkActive="active-sidebar-link" routerLink='/dashboard/transaction'>
                  <i class="fa fa-home" aria-hidden="true"></i> Return
              </a>
              <a class="nav-link sidebar-menu-button" routerLinkActive="active-sidebar-link" routerLink='/dashboard/book'>
                  <i class="fa fa-home" aria-hidden="true"></i> Books List
              </a>
              <a class="nav-link sidebar-menu-button" routerLinkActive="active-sidebar-link" routerLink='/dashboard/Comics'>
                  <i class="fa fa-home" aria-hidden="true"></i> Comics
              </a>
              <a class="nav-link sidebar-menu-button" routerLinkActive="active-sidebar-link" routerLink='/dashboard/Media'>
                  <i class="fa fa-home" aria-hidden="true"></i> CD/DVD
              </a>
          </li>
      </ul>
  </div>

  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>