<div class="card">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <input type="text" placeholder="Find Book here" class="input-lg form-control" name="searchString" [(ngModel)]="searchString" />
            <br />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Author</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tr *ngFor="let a of books | filter : 'title' : searchString; let i = index">
                    <td>
                        {{a.isbn}}
                    </td>
                    <td>
                        {{a.title}}
                    </td>
                    <td>
                        {{a.categoryName}}
                    </td>
                    <td>
                        {{a.author}}
                    </td>
                    <td>
                        {{a.author}}
                    </td>
                    <td>
                        <div class="actions">
                            <span class="glyphicon glyphicon-arrow-down" (click)='openmodal(modalId,a)'></span> &nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-arrow-up" (click)='modalService.open(modalId)'></span>&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-edit" (click)='modalService.open(modalId)'></span>&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-floppy-remove" (click)='modalService.open(modalId)'></span>&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<app-modal [modalTitle]="'Issue Book'" [blocking]='false' [modalId]='modalId'>
    <div class="card-block">
        <form class="form-inline" #issuebook="ngForm" novalidate (ngSubmit)="issueBook(issuebook)">
            <div class="form-group">
                <label for="isbn">ISBN</label>
                <input id="isbn" type="text" required name="isbn" class="form-control" value="{{row.isbn}}" ngModel>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group">
                <label for="title">Book Name</label>
                <input id="title" type="text" required name="title" class="form-control" value="{{row.title}}" ngModel>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group">
                <label for="bookId">Book ID</label>
                <input id="bookId" type="text" required name="bookId" class="form-control" placeholder="Book Number" ngModel>
            </div>
            <br /><br />

            <div class="form-group">
                <label for="memberId">Member Name</label>
                <select id="memberId" #memberId="ngModel" class="form-control" [(ngModel)]="mId" name="memberId" ngModel>
                    <option [ngValue]="c.memberId" *ngFor="let c of memberList">
                        {{c.firstName}} {{c.lastName}}
                    </option>
                </select>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group">
                <label for="issueDate">Issue Date :</label>
                <input id ="issueDate" required name="issueDate" type="text" [(ngModel)]="today" ngModel>
            </div>
            <br /><br />

            <div class="form-group">
                <label for="adminId">Member Name</label>
                <select id="adminId" #memberId="ngModel" class="form-control" [(ngModel)]="aId" name="adminId" ngModel>
                    <option [ngValue]="d.adminId" *ngFor="let d of adminList">
                        {{d.firstName}} {{d.lastName}}
                    </option>
                </select>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br/>
            <br/>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="issuebook.invalid || isRequesting">Issue</button>
                <app-spinner [isRunning]="isRequesting"></app-spinner>
            </div>
            <div *ngIf="errors" class="alert alert-danger" role="alert">
                <strong>Oops!</strong> {{errors}}
            </div>
            <div *ngIf="saveSuccess" class="alert alert-success" role="alert">
                <strong>Book issued</strong>
            </div>
        </form>
    </div>
</app-modal>