<div class="dashboard-view col-md-10 col-md-offset-1">
  <input type="text" placeholder="Find Book here" class="input-lg form-control" name="searchString" [(ngModel)]="searchString" />
  <br>
  <br>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Category</th>
        <th>Author</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tr *ngFor="let book of books | filter : 'title' : searchString; let i = index">
      <td class="text-cell">
        {{book.isbn}}
      </td>
      <td class="text-cell">
        {{book.title}}
      </td>
      <td class="text-cell">
        {{book.categoryName}}
      </td>
      <td class="text-cell">
        <div *ngFor="let author of book.authors">
          {{author.author}}
        </div>
      </td>
      <td class="text-cell">
        <div *ngIf="book.count>0;else other_content" style="color:green">
          Available ({{book.count}})
        </div>
        <ng-template #other_content><div style="color:red">Not Available</div></ng-template>
      </td>
      <td class="action-cell" (click)='openmodal(issuecontent,book)' title="Issue this book">
        <span>Issue</span>
        <span class="glyphicon glyphicon-new-window" style="padding-left:0.5em"></span>
      </td>
    </tr>
  </table>
</div>

<ng-template #issuecontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div style="overflow: hidden; padding-right: .5em;">
      <h4 class="modal-title">Issue Book</h4>
    </div>
  </div>
  <div class="modal-body">
    <form #issuebook="ngForm" class="form-horizontal" novalidate (ngSubmit)="issueBook(issuebook)">
      <div class="form-group">
        <label class="control-label col-sm-4" for="isbn">ISBN</label>
        <div class="col-sm-8">
          <input id="isbn" type="text" required name="isbn" class="form-control" ngModel="{{row.isbn}}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="title">Book Name</label>
        <div class="col-sm-8">
          <input id="title" type="text" required name="title" class="form-control" ngModel="{{row.title}}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="memberId">Member Name</label>
        <div class="col-sm-8">
          <ng-select [items]="memberList" bindLabel="firstName" bindValue="memberId" [multiple]="false" placeholder="Select Member" name="memberId" ngModel>
          </ng-select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="issueDate">Issue Date :</label>
        <div class="col-sm-8">
          <input id="issueDate" type="text" required name="issueDate" class="form-control" [(ngModel)]="today">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="adminId">Issuer Name</label>
        <div class="col-sm-8">
          <ng-select [items]="adminList" bindLabel="adminName" bindValue="adminId" [multiple]="false" placeholder="Select Issuer" name="adminId" ngModel>
          </ng-select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button id="issue-btn" type="submit" class="btn btn-primary" [disabled]="issuebook.invalid || isRequesting">Issue</button>
          <app-spinner [isRunning]="isRequesting"></app-spinner>
        </div>
      </div>
      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{errors}}
      </div>
      <div *ngIf="saveSuccess" class="alert alert-success" role="alert">
        <strong>Book issued</strong>
      </div>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
